DerivedData
*.xcuserstate
UserInterfaceState.xcuserstate
/MVVM Pattern/MVVM Pattern.xcodeproj/xcuserdata/apo.xcuserdatad/xcdebugger
/MVVM Pattern/MVVM Pattern.xcodeproj/project.xcworkspace/xcuserdata/apo.xcuserdatad/UserInterfaceState.xcuserstate
